body{
    background-color: rgb(255, 255, 255);
	font-family: "fuente linda";
	font-size: xx-large;
}
h1{
    color: rgb(0, 0, 0);
}
p{
    color: rgb(0, 0, 0);
}
img{
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;

}
.texto{
    width: 100%;
    background-color: rgb(185, 182, 182);
    text-align: center;
}
.grupo_fotos {	
    background-color: rgb(255, 255, 255);
	width: 100%;
    display: inline-block;
}
.foto{

    width: 33%;
    display: inline-block;

}
.foto2{

    width: 33%;
    display: inline-block;

}
.foto3{

    width: 33%;
    display: inline-block;

}
.myButton {
	background:linear-gradient(to bottom, rgb(81, 82, 80) 0%, rgb(81, 82, 80) 0%);
	border-radius:28px;
	border:0px solid #000000;
	display:inline-block; 
	cursor:pointer;
	color:#000000;
	font-family:Impact;
	font-size:28px;
    padding: 1px 60px;
	text-decoration:none;
	text-shadow:0px 0px 0px #000000;
    margin-right: 30%;
    margin-left: 5%;
}
.myButton:hover {
	background:linear-gradient(to bottom, rgb(81, 82, 80) 0%, rgb(81, 82, 80) 0%);
	background-color:rgb(81, 82, 80);
}
.myButton:active {
	position:relative;
	top:1px;
} 
.espacio{
    display:inline-block; 
}
.myButton2 {
	background:linear-gradient(to bottom, rgb(81, 82, 80) 0%, rgb(81, 82, 80) 0%);
	border-radius:28px;
	border:0px solid #000000;
	display:inline-block; 
	cursor:pointer;
	color:#000000;
	font-family:Impact;
	font-size:28px;
    padding: 1px 60px;
	text-decoration:none;
	text-shadow:0px 0px 0px #000000;
    margin-right: 30%;
    margin-left: 50%;
}
.myButton:hover {
	background:linear-gradient(to bottom, rgb(81, 82, 80) 0%, rgb(81, 82, 80) 0%);
	background-color:rgb(81, 82, 80);
}
.myButton:active {
	position:relative;
	top:1px;
} 
.myButton3 {
	background:linear-gradient(to bottom, rgb(81, 82, 80) 0%, rgb(81, 82, 80) 0%);
	border-radius:28px;
	border:0px solid #000000;
	display:inline-block; 
	cursor:pointer;
	color:#000000;
	font-family:Impact;
	font-size:28px;
    padding: 1px 60px;
	text-decoration:none;
	text-shadow:0px 0px 0px #000000;
    margin-right: 30%;
    margin-left: 140%;
}
.myButton:hover {
	background:linear-gradient(to bottom, rgb(81, 82, 80) 0%, rgb(81, 82, 80) 0%);
	background-color:rgb(81, 82, 80);
}
.myButton:active {
	position:relative;
	top:1px;
} 
@font-face{
	font-family: "fuente linda";
	src: url("fonts/Tagesschrift/Tagesschrift-Regular.ttf");
}